
header{
  text-align: center;
  font-size: 25px;
  background-color: lightgrey;
  padding: 30px;
}
nav{
  float: right;
  text-align: center;
  overflow: hidden;
}
li{
  display: inline;
}
nav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: black;
}
.intro{
padding: 90px;
}

footer{
  text-align: center;
  background-color: black;
  color: white;
  position: fixed;
 left: 0;
 bottom: 0;
  width: 100%;
}

footer,a{
  color: white
}
footer,li{
  padding:15px;
}
